@import "./var";

// 尺寸
@for $size from 1 through 100 {
  .w-#{$size} {
    width: #{$size * 2}rpx;
  }
  .h-#{$size} {
    height: #{$size * 2}rpx;
  }
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.w-screen {
  width: 100vw;
}
.w-height {
  height: 100vh;
}
// 边距
@each $dir, $value in $directions {
  @for $i from 1 through 80 {
    @if ($i % 2==0) {
      .p#{$dir}-#{$i} {
        @if (type-of($value) == "list") {
          @each $side in $value {
            padding-#{$side}: #{$i * 2}rpx;
          }
        }
        @if (type-of($value) == "string") {
          padding-#{$value}: #{$i * 2}rpx;
        }
      }

      .m#{$dir}-#{$i} {
        @if (type-of($value) == "list") {
          @each $side in $value {
            margin-#{$side}: #{$i * 2}rpx;
          }
        }
        @if (type-of($value) == "string") {
          margin-#{$value}: #{$i * 2}rpx;
        }
      }
    }
  }
}
.mx-auto{
  margin-left:auto;
  margin-right:auto;
}
// 定位
@each $type in $positions {
  .#{$type} {
    position: #{$type};
  }
}
@for $size from 1 through 10 {
  .grid-cols-#{$size} {
    & > view,
    & > text,
    & > block {
      width: #{100% / $size};
      display: inline-block;
    }
  }
}
.content-center{
  align-content:center;
}
// 显示方式
@each $type in $display {
  .#{$type} {
    display: #{$type};
  }
}

// 盒模型类型
.border-box {
  box-sizing: border-box;
}
.content-box {
  box-sizing: content-box;
}
