@import "./var.scss";

@each $dir, $value in $directions {
  @for $i from 1 through 80 {
    @if ($i % 2==0) {
      .p#{$dir}-#{$i} {
        @if (type-of($value) == "list") {
          @each $side in $value {
            padding-#{$side}: #{$i * 2}rpx;
          }
        }

        @if (type-of($value) == "string") {
          padding-#{$value}: #{$i * 2}rpx;
        }
      }

      // .px-#{$i} {
      //   padding-left: #{$i * 2}rpx;
      //   padding-right: #{$i * 2}rpx;
      // }
      // .py-#{$i} {
      //   padding-top: #{$i * 2}rpx;
      //   padding-bottom: #{$i * 2}rpx;
      // }

      .m#{$dir}-#{$i} {
        @if (type-of($value) == "list") {
          @each $side in $value {
            margin-#{$side}: #{$i * 2}rpx;
          }
        }

        @if (type-of($value) == "string") {
          margin-#{$value}: #{$i * 2}rpx;
        }
      }
    }
  }
}

@each $type in $display {
  .#{$type} {
    display: #{$type};
  }
}

@each $type in $positions {
  .#{$type} {
    position: #{$type};
  }
}
@for $size from 1 through 10 {
  .grid-cols-#{$size} {
    & > view,
    & > text,
    & > block {
      width: #{100% / $size};
    }
  }
}
.border-box{
  box-sizing: border-box;
}
.content-box{
  box-sizing: content-box ;
}