@import "./_var";

button {
  background-color: transparent;
  padding: 16rpx 32rpx;
  margin: 0;
  width: auto;
  height: 64rpx;
  font-size: 28rpx;
  border-radius: 8rpx;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  overflow: visible;
  box-sizing: content-box;
}
.btn-hover {
  background-color: $gray-e;
}
