@each $row,
  $value in ("start": flex-start, "end": flex-end, "center": center, "between": space-between, "around": space-around, "evenly": space-evenly)
{
  .justify {
    &-#{$row} {
      justify-content: $value;
    }
  }
  .items {
    &-#{$row} {
      align-items: $value;
    }
  }
}

.flex {
  display: flex;
  flex-direction: row;

  &-wrap {
    flex-wrap: wrap;
  }

  @each $name, $value in ("col": column) {
    &-#{$name} {
      flex-direction: $value;
    }
  }

  @for $i from 1 through 12 {
    &-#{$i} {
      flex: $i;
    }
  }
}

@for $i from 0 through 12 {
  .shrink-#{$i} {
    flex-shrink: $i;
  }
  .grow-#{$i} {
    flex-grow: $i;
  }
  .basis-#{$i} {
    flex-basis: #{$i * 4}px;
  }
}
