@import "./_var";

.text {
  // 字号
  @each $class, $value in $fontSize {
    &-#{$class},
    &-#{$value} {
      font-size: #{$value * 2}rpx;
      line-height: #{($value + 8) * 2}rpx;
    }
  }

  // 换行
  @each $type in $textWrap {
    &-#{$type} {
      text-wrap: $type;
    }
  }
}

// 字重
@each $type, $value in $fontWeight {
  .font-#{$type} {
    font-weight: $value;
  }
}

.break-all {
  word-break: break-all;
}

.wrap-anywhere {
  overflow-wrap: anywhere;
}

@each $dir in (left, right, center) {
  .text-#{$dir} {
    text-align: #{$dir};
  }
}
.leading-1{
  line-height: 1;
}
@each $var in $whiteSpace {
  .whitespace-#{$var}{
    white-space:#{$var};
  }
}