.overflow-hidden {
  overflow: hidden;
}
@for $i from 0 through 100 {
  @if $i / 5 == 0 {
    .opacity-#{$i} {
      opacity: $i / 100;
    }
  }
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.collapse {
  visibility: collapse;
}
.fakeBar {
  padding-bottom: calc(env(safe-area-inset-bottom) / 2);
}
