@for $size from 1 through 100 {
  .w-#{$size} {
    width: #{$size * 2}rpx;
  }
  .h-#{$size} {
    height: #{$size * 2}rpx;
  }
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.overflow {
  overflow: hidden;
}
@each $dir,
  $value
    in (
      "x": (
        "left",
        "right",
      ),
      "y": (
        "top",
        "bottom",
      ),
      "": (
        "top",
        "right",
        "bottom",
        "left",
      )
    )
{
  @for $size from 1 through 100 {
    @if ($size % 2==0) {
      .p#{$dir}-#{$size} {
        @each $prop in $value {
          padding-#{$prop}: #{$size * 2}rpx;
        }
      }
      .m#{$dir}-#{$size} {
        @each $prop in $value {
          margin-#{$prop}: #{$size * 2}rpx;
        }
      }
    }
  }
}
// .divider-y {
//   width: 2rpx;
//   height: 100%;
// }
// .divider-x {
//   width: 100%;
//   height: 2rpx;
// }
