@import "./_border";
@import "./_box";
@import "./_button";
@import "./_colors";
@import "./_flex";
@import "./_shadow";
@import "./_text";
@import "./_var";
@import "./util";

$bg:#f1f1f1;
@for $size from 1 through 100 {
  .w-#{$size}{
    width:#{$size * 2}rpx;
  }
  .h-#{$size}{
    height:#{$size * 2}rpx;
  }
}
.w-full{
  width:100%;
}
.h-full{
  height:100%;
}
