/* pages/home/home.wxss */
@import '../../app.scss';

.HomeView {
  flex: 1;
  overflow: hidden;

  .swiper {
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
  }

  .category {
    .scroll {
      height: 64rpx;
      background-color: white;
    }

    .select {
      color: $green;
    }
  }

  .posts {

    .postsItem {
      display: flex;
      flex-direction: column;
    }
  }
}