@import "./var.scss";

@each $color, $value in $colors {
  .text-#{$color},
  .text-#{$value} {
    color: $value;
  }
  .text-#{$color}-light,
  .text-#{$value}-light {
    color: #{mix(white, $value, 80%)};
  }

  .bg-#{$color},
  .bg-#{$value} {
    background-color: $value;
  }
  .bg-#{$color}-light,
  .bg-#{$value}-light {
    background-color: #{mix(white, $value, 80%)};
  }
  .bg-#{$color}-stripes {
    background-color: #{mix(#ffffff00, desaturate($value, 45%), 93%)};
    background-image: linear-gradient(
      225deg,
      #{mix(#ffffff00, $value, 50%)} 10%,
      transparent 0,
      transparent 50%,
      #{mix(#ffffff00, $value, 50%)} 0,
      #{mix(#ffffff00, $value, 50%)} 60%,
      transparent 0,
      transparent
    );
    background-size: 7.07px 7.07px;
    z-index: -1;
  }

  @each $colorSub, $valueSub in $colors {
    @if $color != $colorSub {
      .bg-#{$color}-#{$colorSub},
      .bg-#{$value}-#{$valueSub} {
        background-image: linear-gradient(130deg, $value, $valueSub);
        color: white;
      }
    }
  }

  .border-#{$color},
  .border-#{$value} {
    border-color: $value;
  }
  .border-#{$color}-light,
  .border-#{$value}-light {
    border-color: #{mix(white, $value, 80%)};
  }
}

@each $gray, $value in map-merge($grays,$darks) {
  .text-#{$gray} {
    color: $value;
  }
  .bg-#{$gray} {
    background-color: $value;
  }
  .border-#{$gray} {
    border-color: $value;
  }
}
