@import "./var.scss";

@each $color, $value in $colors {
  .text-#{$color},
  .text-#{$value} {
    color: $value;
  }
  .text-#{$color}-light,
  text-#{$value}-light {
    color: mix(white, $value, 85%);
  }
  .bg-#{$color},
  .bg-#{$value} {
    background-color: $value;
  }
  .border-#{$color},
  .border-#{$value} {
    border-color: $value;
  }
}
