@import "./var";
.shadow {
  &-sm {
    box-shadow: 0 2px 4px -1px $gray-e;
  }
  &-md {
    box-shadow: 0 4px 6px -1px $gray-e;
  }
  &-lg {
    box-shadow: 0 6px 8px -1px $gray-e;
  }
  @each $color, $value in map-merge(map-merge($colors, $grays), $darks) {
    &-#{$color}-sm {
      box-shadow: 0.125em 0.25em rgba($value, 0.075);
    }
    &-#{$color}-md {
      box-shadow: 0 4px 6px -1px rgba($value, 0.1);
    }
    &-#{$color}-lg {
      box-shadow: 0 10px 15px -3px rgb($value, 0.1);
    }
  }
}
