@import "./_var.scss";

.text {
  // 字号
  @each $class, $value in $fontSize {
    &-#{$class},
    &-#{$value} {
      font-size: #{$value * 2}rpx;
    }
  }
  // 换行
  @each $type in $textWrap {
    &-#{$type} {
      text-wrap: $type;
    }
  }
}

// 字重
@each $type, $value in $fontWeight {
  .font-#{$type} {
    font-weight: $value;
  }
}
