// 字号
$fontSize: ();
$fontSize: map-merge(
  (
    xxs: 8,
    xs: 10,
    sm: 12,
    md: 14,
    lg: 16,
    xl: 18,
    2xl: 20,
    3xl: 22,
  ),
  $fontSize
);
// 字重
$fontWeight: ();
$fontWeight: map-merge(
  (
    thin: 100,
    extralight: 200,
    light: 300,
    normal: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    extrabold: 800,
    black: 900,
  ),
  $fontWeight
);
// 主题色
$red: #e54d42; // 嫣红
$orange: #f37b1d; // 桔橙
$light-orange: #fde6d2;
$yellow: #fbbd08; // 明黄
$light-yellow: #fef2ced2;
$olive: #8dc63f; // 橄榄
$light-olive: #e8f4d9;
$green: #39b54a; // 森绿
$light-green: #d7f0dbff;
$cyan: #1cbbb4; // 天青
$light-cyan: #d2f1f0;
$skyblue: #10aeff; // 天蓝
$light-skyblue: #d9f0ff;
$blue: #0081ff; // 海蓝
$light-blue: #cce6ff;
$purple: #6739b6; // 姹紫
$light-purple: #e1d7f0;
$mauve: #9c26b0; // 木槿
$light-mauve: #ebd4ef;
$pink: #e03997; // 桃粉
$light-pink: #f9d7ea;
$brown: #a5673f; // 棕褐
$light-brown: #ede1d9;
$grey: #8799a3; // 玄灰
$light-grey: #e7ebed;
$gray: #f0f0f0; // 草灰
$black: #333333; // 墨黑
$white: #ffffff; // 雅白

$colors: ();
$colors: map-merge(
  (
    red: $red,
    orange: $orange,
    yellow: $yellow,
    olive: $olive,
    green: $green,
    cyan: $cyan,
    blue: $blue,
    purple: $purple,
    mauve: $mauve,
    pink: $pink,
    brown: $brown,
    greyc: $grey,
    // grey会报错
    gray: $gray,
  ),
  $colors
);
//灰度
$white: #ffffff;
$gray-f: #f8f9fa;
$gray-e: #eeeeee; // 用于分割线
$gray-d: #dddddd;
$gray-c: #cccccc;
$gray-b: #bbbbbb;
$gray-a: #aaaaaa;
$dark-9: #999999;
$dark-8: #888888;
$dark-7: #777777;
$dark-6: #666666; // 次要文字
$dark-5: #555555;
$dark-4: #444444;
$dark-3: #333333;
$dark-2: #222222;
$dark-1: #111111;
$black: #000000;

$grays: ();
$grays: map-merge(
  (
    white: $white,
    gray-f: $gray-f,
    gray-e: $gray-e,
    gray-d: $gray-d,
    gray-c: $gray-c,
    gray-b: $gray-b,
    gray-a: $gray-a,
    gray: $gray-a,
  ),
  $grays
);

$darks: ();
$darks: map-merge(
  (
    dark-9: $dark-9,
    dark-8: $dark-8,
    dark-7: $dark-7,
    dark-6: $dark-6,
    dark-5: $dark-5,
    dark-4: $dark-4,
    dark-3: $dark-3,
    dark-2: $dark-2,
    dark-1: $dark-1,
    black: $black,
  ),
  $darks
);
// 方向
$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
  x: (
    left,
    right,
  ),
  y: (
    top,
    bottom,
  ),
  "": (
    top,
    right,
    bottom,
    left,
  ),
);
// 显示方式
$display: (block, inline, inline-block, flex, grid, none, inherit, initial, unset);
// 定位类型
$positions: (static, relative, absolute, fixed, sticky);
// 换行
$textWrap: (wrap, nowrap, wrap-reverse);
