$fontSize: ();
$fontSize: map-merge(
  (
    xs: 20,
    sm: 24,
    df: 28,
    lg: 32,
    xl: 36,
    "2xl": 44,
    "3xl": 80,
    "4xl": 120,
  ),
  $fontSize
);

$red: #e54d42; // 嫣红
$light-red: #fadbd9;
$orange: #f37b1d; // 桔橙
$light-orange: #fde6d2;
$yellow: #fbbd08; // 明黄
$light-yellow: #fef2ced2;
$olive: #8dc63f; // 橄榄
$light-olive: #e8f4d9;
$green: #39b54a; // 森绿
$light-green: #d7f0dbff;
$cyan: #1cbbb4; // 天青
$light-cyan: #d2f1f0;
$blue: #0081ff; // 海蓝
$light-blue: #cce6ff;
$purple: #6739b6; // 姹紫
$light-purple: #e1d7f0;
$mauve: #9c26b0; // 木槿
$light-mauve: #ebd4ef;
$pink: #e03997; // 桃粉
$light-pink: #f9d7ea;
$brown: #a5673f; // 棕褐
$light-brown: #ede1d9;
$grey: #8799a3; // 玄灰
$light-grey: #e7ebed;
$gray: #f0f0f0; // 草灰
$black: #333333; // 墨黑
$white: #ffffff; // 雅白

$colors: ();
$colors: map-merge(
  (
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "olive": $olive,
    "green": $green,
    "cyan": $cyan,
    "blue": $blue,
    "purple": $purple,
    "mauve": $mauve,
    "pink": $pink,
    "brown": $brown,
    "grey": $grey,
    "gray": $gray,
    "black": $black,
    "white": $white,
  ),
  $colors
);
