/* pages/home/home.wxss */
@import '../../app.scss';

.Home {
  flex: 1;
  overflow: hidden;

  .swiper {
    width: 100vw;
    height: calc(100vw / 16 * 9);
    overflow: hidden;
  }

  .category {
    padding:8rpx 0;
    background-color: white;
    
    .scroll {
      height: 64rpx;
    }

    .select {
      color: $green;
    }
  }

  .posts {

    .postsItem {
      display: flex;
      flex-direction: column;
    }
  }
}