.navBarComponent .android {
  --height: 48px;
}
.navBarComponent {
  --height: 44px;

  .content {
    height: calc(var(--height) + env(safe-area-inset-top));
    overflow: hidden;
    display: flex;
    padding-top: env(safe-area-inset-top);

    .left {
      display: flex;

      .button {
        padding: 11px 18px 11px 16px;
        // margin: 0px -18px 0px -16px;

        .btn-back {
          font-size: 12px;
          width: 12px;
          height: 24px;
          -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='24' viewBox='0 0 12 24'%3E  %3Cpath fill-opacity='.9' fill-rule='evenodd' d='M10 19.438L8.955 20.5l-7.666-7.79a1.02 1.02 0 0 1 0-1.42L8.955 3.5 10 4.563 2.682 12 10 19.438z'/%3E%3C/svg%3E")
            no-repeat 50% 50%;
          mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='24' viewBox='0 0 12 24'%3E  %3Cpath fill-opacity='.9' fill-rule='evenodd' d='M10 19.438L8.955 20.5l-7.666-7.79a1.02 1.02 0 0 1 0-1.42L8.955 3.5 10 4.563 2.682 12 10 19.438z'/%3E%3C/svg%3E")
            no-repeat 50% 50%;
          -webkit-mask-size: cover;
          mask-size: cover;
          background-color: rgba(0, 0, 0, 0.9);
        }
        .btn-home {
          font-size: 12px;
          width: 12px;
          height: 24px;
          -webkit-mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 1024 1024'%3E  %3Cpath fill-opacity='.9' fill-rule='evenodd' d='M946.5 505L560.1 118.8l-25.9-25.9c-12.3-12.2-32.1-12.2-44.4 0L77.5 505c-12.3 12.3-18.9 28.6-18.8 46 0.4 35.2 29.7 63.3 64.9 63.3h42.5V940h691.8V614.3h43.4c17.1 0 33.2-6.7 45.3-18.8 12.1-12.1 18.7-28.2 18.7-45.3 0-17-6.7-33.1-18.8-45.2zM568 868H456V664h112v204z m217.9-325.7V868H632V640c0-22.1-17.9-40-40-40H432c-22.1 0-40 17.9-40 40v228H238.1V542.3h-96l370-369.7 23.1 23.1L882 542.3h-96.1z'/%3E%3C/svg%3E")
            no-repeat 50% 50%;
          mask: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 1024 1024'%3E  %3Cpath fill-opacity='.9' fill-rule='evenodd' d='M946.5 505L560.1 118.8l-25.9-25.9c-12.3-12.2-32.1-12.2-44.4 0L77.5 505c-12.3 12.3-18.9 28.6-18.8 46 0.4 35.2 29.7 63.3 64.9 63.3h42.5V940h691.8V614.3h43.4c17.1 0 33.2-6.7 45.3-18.8 12.1-12.1 18.7-28.2 18.7-45.3 0-17-6.7-33.1-18.8-45.2zM568 868H456V664h112v204z m217.9-325.7V868H632V640c0-22.1-17.9-40-40-40H432c-22.1 0-40 17.9-40 40v228H238.1V542.3h-96l370-369.7 23.1 23.1L882 542.3h-96.1z'/%3E%3C/svg%3E")
            no-repeat 50% 50%;
          -webkit-mask-size: cover;
          mask-size: cover;
          background-color: rgba(0, 0, 0, 0.9);
        }
      }

      .active {
        opacity: 0.5;
      }
    }

    .center {
      flex: 1;
      font-size: 14px;
      text-align: center;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .right {
    }
  }
}
