.navbar {
  height: 44px;
  &__inner {
    height: 44px;
    overflow: hidden;
    display: flex;
  }
  &__left {
  }
  &__content {
    flex: 1;
  }
  &__right {
  }
}
.navbar .android {
  height: 48px;
}
