/**app.scss**/
@import "./assets/ui.scss";

page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var($gray);
  font-size: 28rpx;
}
/*=================
        初始化
=================*/
view {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

image {
  width: 100%;
  vertical-align: sub;
}
