.ax_toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000f0;
  padding: 24rpx;
  max-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .icon {
    width: 64rpx;
    height: 64rpx;
    margin-bottom: 24rpx;
  }

  .text {
    font-size: 28rpx;
    color: white;
  }
}

.mask {
  height: 100vh;
  width: 100vw;
  background: #00000099;
}
