.ax_toast {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &_content {
    background: #000000f0;
    .icon {
      width: 64rpx;
      height: 64rpx;
    }
    .text {
      font-size: 28rpx;
      color: white;
    }
  }
}
