.ax_tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .header {
    .slot:empty + .content {
      display: flex;
    }
    .content {
      display: none;

      .list {
        display: flex;

        .tab {
          padding: 4px 12px;

          .item {
            position: relative;

            .name {
            }
            .badge {
              position: absolute;
              right: -50%;
              top: -50;
              border-radius: 999px;
              padding: 2px 4px;
              font-size: 10px;
              color: white;
              background: red;
            }
          }
        }
      }

      .underline {
        transition: all 0.2s ease-in-out;
        height: 2px;
        background: red;
        border-radius: 999px;
        width: 2em;
      }
    }
  }
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
