.ax_tabs {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  & > .header {
    position: relative;

    .slot:empty + .content {
      display: inline-block;
    }
    .content {
      display: none;
      position: relative;

      .list {
        display: flex;

        .tab {
          padding: 4px 12px 6px;
          flex-shrink: 0;

          .item {
            position: relative;

            .name {
              white-space: nowrap;
            }
            .badge {
              position: absolute;
              right: -50%;
              top: -50;
              border-radius: 999px;
              padding: 2px 4px;
              font-size: 10px;
              color: white;
              background: red;
            }
          }
        }
      }

      .underline {
        position: absolute;
        bottom: 2px;
        transition: all 0.2s ease-in-out;
        height: 2px;
        background: black;
        border-radius: 999px;
        width: 2em;
      }
    }

    .overShadow {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 3em;
    }
  }
  & > .content {
    flex: 1;
    display: flex;
    transition: all 0.2s ease-in-out;
    & > view {
      width: 100%;
    }
  }
}
